<html>
<head>
	<title>Register - Product</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productDetail.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/productDetail.js" defer></script>
</head>
<body>

	<nav class="navbar navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">Titans Merchant Software</span>
		<a class="form-inline my-2 my-lg-0 btn btn-secondary" href="/productListing" role="button" aria-pressed="true">Back</a>
	</nav>
	<div class="header">
		<h1 class="primary-message">Product Detail</h1>
	</div>

	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<div class="productDetailWrapper">
			<table id="productDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="productId" type="hidden" value="<% if (locals.product && locals.product.id) { %><%= locals.product.id %><% } %>" <% if(!locals.isElevatedUser) { %> disabled <% } %>/>
						</td>
					</tr>
					<tr>
						<td>Lookup Code:</td>
						<td>
							<input id="productLookupCode" type="text" value="<% if (locals.product && locals.product.lookupCode) { %><%= locals.product.lookupCode %><% } %>" class="update" <% if(!locals.isElevatedUser) { %> disabled <% } %>/>
						</td>
					</tr>
					<tr>
						<td>Count:</td>
						<td>
							<input id="productCount" type="number" value="<% if (locals.product && locals.product.count) { %><%= locals.product.count.toString() %><% } %>" class="update" <% if(!locals.isElevatedUser) { %> disabled <% } %>/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div <% if(!locals.isElevatedUser) { %>class="hidden"<% } %>>
			<br />
			<div id="deleteActionContainer" <% if (!locals.product || !locals.product.id || (locals.product.id.trim() === "")) { %>class="hidden"<% } %>>
				<button id="deleteButton" type="button" class="btn btn-outline-danger btn-std">Delete</button>
				<br />
				<br />
			</div>
		<button id="saveButton" type="button" class="btn btn-outline-success btn-std">Save</button>
		</div>

		<div id="productSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Product</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
