<html>

<head>
	<title>Transaction</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script>
		var transactionId = "<%- locals.transactionId %>";
		<% if (locals.transactionEntries) {%>
			// my IDE thinks the line below is an error, but its the only clean solution i could find so I'm leaving it
			var transactionEntries = <% - JSON.stringify(locals.transactionEntries) %>
		<% } %>
	</script>

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>

</head>

<body>

	<nav class="navbar navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">Titans Merchant Software</span>
		<a class="form-inline my-2 my-lg-0 btn btn-secondary<% if (locals.isInitialEmployee) { %>hidden<% } %>" href="./mainMenu" role="button" aria-pressed="true">Home</a>
	</nav>


	<div class="header">
		<h1 class="primary-message">Transaction</h1>
	</div>

	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
				<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Search</h2>
					<div class="searchWrapper">
						<input type="text" id="search" name="search"><br><br><br>
						<ul id="searchResults" class="list-group"></ul>
					</div>
				</div>
				<div class="col">
					<h2>Cart</h2>
					<div id="cart" class="cartWrapper">
					</div>
					<br>
					<h4>
						Total: $<span id="cartTotal">0</span> Total Items: <span id="numbItems">0</span>
					</h4>
					<br>
					<button id="cancelTransactionButton" type="button" class="btn btn-outline-danger">Cancel Transaction</button>
					<button id="completeTransactionButton" type="button" class="btn btn-outline-success">Complete Transaction</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="column">
				<!-- <h2>Search</h2>
				<div class="searchWrapper">
					<input type="text" id="search" name="search"><br>
					<ul id="searchResults">
					</ul>
				</div> -->
			</div>

			<div class="column">
				<!-- <h2>Cart</h2>
				<div id="cart" class="cartWrapper">
				</div>
				<br>
				<h4>
					Total: $<span id="cartTotal">0</span> Total Items: <span id="numbItems">0</span>
				</h4>
				<br>
				<button id="cancelTransactionButton" type="button" class="action">Cancel Transaction</button>
				<button id="completeTransactionButton" type="button" class="action">Complete Transaction</button> -->
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>